---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import getSortedPubs from "@utils/getSortedPubs";
import LinkButton from "@components/LinkButton.astro";
import Hr from "@components/Hr.astro";
import PubCard from "@components/PubCard";
import Socials from "@components/Socials.astro";
import getSortedPosts from "@utils/getSortedPosts";
import { SITE, SOCIALS } from "@config";

const posts = await getCollection("blog");
const pubs = await getCollection("pub");

const sortedPosts = getSortedPosts(posts);
const featuredPosts = sortedPosts.filter(({ data }) => data.featured);

const featuredPubs = getSortedPubs(pubs);
const recentPosts = sortedPosts.filter(({ data }) => !data.featured);

const socialCount = SOCIALS.filter(social => social.active).length;
---

<Layout>
  <Header />
  <main id="main-content">

  <div itemtype="http://schema.org/ProfilePage" itemscope>
      <meta itemprop="dateCreated" content="2024-04-05T14:53:00+08:00">
      <meta itemprop="dateModified" content="2024-04-06T10:30:00+08:00">
      <div itemprop="mainEntity" itemtype="http://schema.org/Person" itemscope>
          <meta itemprop="name" content="Xin Li (李鑫)">
          <meta itemprop="alternateName" content="Xin Li">
          <meta itemprop="image" content="assets/XinLi.jpg">
          <meta itemprop="description"
              content="Research Assistant at Nanyang Technological University (NTU), Singapore. Research Interest: SLAM, Embodied AI, and Scene Understanding.">
          <meta itemprop="familyName" content="Li">
          <meta itemprop="givenName" content="Xin">
          <meta itemprop="jobTitle" content="Research Assistant">
          <div itemprop="affiliation" itemscope itemtype="http://schema.org/EducationalOrganization">
              <meta itemprop="name" content="Nanyang Technological University (NTU)">
              <link itemprop="url" href="https://www.ntu.edu.sg/">
          </div>
          <div itemprop="colleague" itemscope itemtype="http://schema.org/Person">
              <meta itemprop="name" content="Prof. Chau Yuen">
              <link itemprop="url" href="https://blogs.ntu.edu.sg/chau-yuen">
          </div>
          <div itemprop="alumniOf" itemscope itemtype="http://schema.org/EducationalOrganization">
              <meta itemprop="name" content="Peking University">
              <link itemprop="url" href="http://english.pku.edu.cn">
          </div>
          <div itemprop="alumniOf" itemscope itemtype="http://schema.org/EducationalOrganization">
              <meta itemprop="name" content="Northeastern University (CN)">
              <link itemprop="url" href="https://www.neuq.edu.cn/">
          </div>
          <div itemprop="alumniOf" itemscope itemtype="http://schema.org/Organization">
              <meta itemprop="name" content="Microsoft Research Asia">
              <link itemprop="url"
                  href="https://www.microsoft.com/en-us/research/lab/microsoft-research-asia/">
          </div>
          <meta itemprop="email" content="lixin.1997.lixin@gmail.com">
          <meta itemprop="sameAs" content="https://github.com/LiXin97">
          <meta itemprop="sameAs" content="https://scholar.google.com/citations?hl=en&user=Hxf8sNkAAAAJ">
          <meta itemprop="sameAs" content="https://twitter.com/XinLi72542893">
          <meta itemprop="sameAs" content="https://www.linkedin.com/in/xin-li-1196331a0">
          <meta itemprop="sameAs" content="https://lixin.ai/">
      </div>
  </div>


    <section id="hero">
      <h1>Xin Li (李鑫)</h1>

      <img src="assets/XinLi.jpg" alt="Xin Li profile photo" itemprop="image"
      style="width: 20%; border-radius: 50%; loading: lazy; float: right;" />

      <p>
          I currently work as a Research Assistant at 
          <LinkButton
            className="underline decoration-dashed underline-offset-4 hover:text-skin-accent"
                href="https://www.ntu.edu.sg/">Nanyang Technological University (NTU)
          </LinkButton>,
          Singapore, under the supervision of 
          <LinkButton
            className="underline decoration-dashed underline-offset-4 hover:text-skin-accent"
                href="https://blogs.ntu.edu.sg/chau-yuen/">Prof. Chau Yuen
          </LinkButton>.
      </p>
      <p>

          I obtained my Master's degree from 
          <LinkButton
            className="underline decoration-dashed underline-offset-4 hover:text-skin-accent"
            href="http://english.pku.edu.cn">Peking
                University
          </LinkButton> and Bachelor's degree from 
          <LinkButton
            className="underline decoration-dashed underline-offset-4 hover:text-skin-accent"
                href="https://www.neuq.edu.cn/">Northeastern University (CN)
          </LinkButton>.
      </p>
      <p>
          I am passionate about developing algorithms that enable robots to understand the
          world around them.
      </p>
      {
        // only display if at least one social link is enabled
        socialCount > 0 && (
          <div class="social-wrapper">
            <div class="social-links">Links:</div>
            <Socials />
          </div>
        )
      }
    </section>

    <Hr />


    {
      // only display if at least one post is featured
      (
        <>
          <section id="news">
            <h2>News</h2>

              <div id="news", style="overflow: auto; max-height: 100px;">
                <ul>
                    <li>2024.05: Invited to serve as a reviewer for NeurIPS'24.</li>
                    <li>2024.04: Start my new journey in NTU as a Research Assistant.</li>
                </ul>
              </div>
          </section>
        </>
      )
    }
    
    <Hr />
      
      
    {
      featuredPubs.length > 0 && (
        <>
          <section id="pubs">
            <h2>Publications</h2>
            <p>
                Here are some of the papers I've published. You can also find them on <a class="underline hover:text-skin-accent"
                    href="https://scholar.google.com/citations?hl=en&user=Hxf8sNkAAAAJ">Google Scholar</a>.
                <small>(* equal contribution)</small> <br>
            </p>
    <ul>
      {
        featuredPubs.map(({ data, slug }) => (
          <PubCard href={`/pubs/${slug}/`} frontmatter={data} />
        ))
      }
    </ul>
          </section>
          {recentPosts.length > 0 && <Hr />}
        </>
      )
    }

  {
    (
      <>
        <section id="profession">
          <h2>Education</h2>
          <table style="width: 100%;">
            <tr>
              <th rowspan="3">M.Eng.</th>
              <td><LinkButton
            className="underline hover:text-skin-accent"
            href="http://english.pku.edu.cn">Peking
                University
          </LinkButton></td>
              <td>2018.09 - 2021.07</td>
            </tr>
            <tr>
              <td colspan="3"><span style="color: #888; font-style: italic; font-size: 0.8rem;">Thesis: Multi-feature Simultaneous Localization and Mapping with coplanar constraints</span></td>
            </tr>
            <tr>
              <td colspan="3"><span style="color: #888; font-style: italic; font-size: 0.8rem;">Supervisor: <LinkButton
            className="underline hover:text-skin-accent"
                href="https://www.ss.pku.edu.cn/teacherteam/teacherlist/1652-%E6%9E%97%E9%87%91%E9%BE%99.html">Prof. Jinlong Lin (林金龙)
          </LinkButton></span></td>
            </tr>

            <tr>
              <td colspan="3"><hr></td>
            </tr>

            <tr>
              <th>B.Eng.</th>
              <td><LinkButton
            className="underline hover:text-skin-accent"
                href="https://www.neuq.edu.cn/">Northeastern University (CN)
          </LinkButton></td>
              <td>2014.09 - 2018.07</td>
            </tr>
          </table>
        </section>
        <Hr />
      </>
    )
  }

  {
    (
      <>
        <section id="profession">
          <h2>Experience</h2>

          <table style="width: 100%; margin-right: auto; margin-left: auto;" border="1">
            
            <tr>
              <th rowspan="3">Research Assistant</td>
              <td>Nanyang Technological University</td>
              <td>2024.04 - Present</td>
            </tr>

            <tr>
              
              <td>SUTD, Singapore</td>
              <td>2021.09 - 2022.03</td>
            </tr>
            
            <tr>
              <td colspan="2"><span style="color: #888; font-style: italic; font-size: 0.8rem;">Supervised by <LinkButton
            className="underline hover:text-skin-accent"
                href="https://blogs.ntu.edu.sg/chau-yuen/">Prof. Chau Yuen
            </LinkButton></span></td>
            </tr>

            <tr>
              <td colspan="3"><hr></td>
            </tr>

            <tr>
              <th>SLAM Engineer</td>
              <td>Gaussian Robotics, Singapore</td>
              <td>2022.03 - 2024.03</td>
            </tr>

            <tr>
              <td colspan="3"><hr></td>
            </tr>

            <tr>
              <th rowspan="4">Research Intern</th>
              <td>Microsoft Research Asia, Beijing</td>
              <td>2020.09 - 2021.04</td>
            </tr>
            <tr>
              <td colspan="3"><span style="color: #888; font-style: italic; font-size: 0.8rem;">Supervised by <LinkButton
            className="underline hover:text-skin-accent"
                href="https://xueyuhanlang.github.io/">Dr. Yang Liu (刘洋)
            </LinkButton> and <LinkButton
            className="underline hover:text-skin-accent"
                href="https://yizhongzhang1989.github.io/">Dr. Yizhong Zhang (张译中)
            </LinkButton></span></td>
            </tr>
            <tr>
              <td>Megvii (a.k.a Face++), Beijing</td>
              <td>2019.09 - 2020.03</td>
            </tr>
            <tr>
              <td colspan="3"><span style="color: #888; font-style: italic; font-size: 0.8rem;">Supervised by <LinkButton
            className="underline hover:text-skin-accent"
                href="https://scholar.google.com/citations?user=_0lKGnkAAAAJ&hl=en">Dr. Yijia He (贺一家)
            </LinkButton> </span></td>
            </tr>
          </table>
        </section>
        <Hr />
      </>
    )
  }


  

  </main>

  <Footer />
</Layout>

<style>
  /* ===== Hero Section ===== */
  #hero {
    @apply pb-6 pt-8;
  }
  #hero h1 {
    @apply my-4 inline-block text-3xl font-bold sm:my-8 sm:text-5xl;
  }
  #hero .rss-link {
    @apply mb-6;
  }
  #hero .rss-icon {
    @apply mb-2 h-6 w-6 scale-110 fill-skin-accent sm:mb-3 sm:scale-125;
  }
  #hero p {
    @apply my-2;
  }
  .social-wrapper {
    @apply mt-4 flex flex-col sm:flex-row sm:items-center;
  }
  .social-links {
    @apply mb-1 mr-2 whitespace-nowrap sm:mb-0;
  }

  /* ===== Featured & Recent Posts Sections ===== */
  #featured,
  #news h2,
  #pubs h2,
  #profession h2,
  #recent-posts {
    @apply pb-6 pt-6;
  }
  #news h2,
  #pubs h2,
  #profession h2,
  #featured h2,
  #recent-posts h2 {
    @apply text-2xl font-semibold tracking-wide;
  }
  .all-posts-btn-wrapper {
    @apply my-8 text-center;
  }
  td, th {
    text-align: left; /* Aligns text to the left */
  }
</style>
